/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

  border-bottom: 1px solid black;
  height: 80px;
  width: 100%;
  padding: 0 10px;
}

.logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
}

.navigation {
  display: inline-block;
}

.navigation span {
  padding: 20px 10px;
}

.navigation a {
  color: black;
}
